<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="loginPage">
	<h1>Login to Dashboard</h1>
    
	<form action="/login" method="post" id="alert">
		<fieldset>
			<label><b>Username:</b> <input type="text" name="username"></label>
            <br><br>
			<label><b>Password:</b> <input type="text" name="password"></label>

		</fieldset>

		<br>
		<input type="submit" value="Login" />

        <hr>

        <div id = "registerLink"><a href="/register">REGISTER PAGE</a></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


	</form>
    </div>
</body>

</html>

